<br>
<br>

<p *ngIf="authService.isLoggedIn()">
  Welcome ? {{ authService.currentUser.name }}
</p>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
           <a *ngIf="authService.isLoggedIn()" class="navbar-brand" routerLink="/admin">Admin</a>
           <a *ngIf="authService.isLoggedIn()" class="navbar-brand" routerLink="/searchprofile">Search</a>
           <a *ngIf="authService.isLoggedIn()" class="navbar-brand" (click)="authService.logout()">Logout</a>
           <a  class="navbar-brand" routerLink="/login">Login</a>
        </div>
     </div>
</nav>


