 <fieldset>
      <!-- Form Name -->
    
          <div class="form-group">
        <label class="col-md-4 control-label">My Height</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-height"></i></span>
            <input  name="HEIGHT" placeholder="for eg 5.6" class="form-control"  type="text"> 
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">My Weight</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="WEIGHT" placeholder="for eg 56" class="form-control"  type="text"> 
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">My Income Range</label>
       <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Income Range</option>
              <option>0 - 100000</option>
              <option></option>
              <option></option>
               </select>
          </div>
        </div>
      </div>

 <div class="form-group">
        <label class="col-md-4 control-label">Smoke Status</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Smoking Status</option>
              <option>Smoking</option>
              <option>Non-Smoking</option>
            
               </select>
          </div>
        </div>
      </div>

       <div class="form-group">
        <label class="col-md-4 control-label">Diet Status</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Diet Status</option>
              <option>Veg</option>
              <option>Non-Veg</option>
              
               </select>
          </div>
        </div>
      </div>


       <div class="form-group">
        <label class="col-md-4 control-label">My Work Status</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Work Status</option>
              <option>Working</option>
              <option>Non-Working</option>
              
               </select>
          </div>
      </div>
  </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Drinking Status</label>
         <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Drinking Status</option>
              <option>Drinking</option>
              <option>Non-drinking</option>
              
               </select>
          </div>
      </div>
  </div>

           <div class="form-group">
        <label class="col-md-4 control-label">My Religion</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Religion Status</option>
              <option>Brahimin</option>
             
              
               </select>
          </div>
      </div>
        </div>

            <div class="form-group">
        <label class="col-md-4 control-label">MY Mother Toung</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Mother Toung Status</option>
              <option>Hindu</option>
                           
               </select>
          </div>
      </div>
          </div>

            <div class="form-group">
        <label class="col-md-4 control-label">My Sub Caste</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Sub Caste Status</option>
              <option>Joshi</option>
              <option>Pant</option>
              
               </select>
          </div>
      </div>
          </div>

            <div class="form-group">
        <label class="col-md-4 control-label">My Rashi</label>
      <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Rashi Status</option>
              <option>Khunb</option>
              <option>Mithun</option>
              
               </select>
          </div>
      </div>
  </div>

        <div class="form-group">
        <label class="col-md-4 control-label">About my Education</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
            <textarea  name="ABOUT_MY_EDUCATION" placeholder="for eg I have done MBC/MCA..." class="form-control"  type="text">
            </textarea>
          </div>
        </div>
      </div>

        <div class="form-group">
        <label class="col-md-4 control-label">About my Profession</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea  name="ABOUT_MY_PROFESSION" placeholder="for eg I am working as .. earing ... total exp  ..." class="form-control"  type="text">
            </textarea>
          </div>
        </div>
      </div>

    </fieldset>
