<menubar></menubar>
<div class="container">  
  <form #form = "ngForm" (ngSubmit)="logForm(form.value)" enctype="multipart/form-data">  
    <div class="container">
            <div class="col-md-6">
                <div class="form-group">
                        <label>File Name</label>  
                        <input type="text" name="name" class="form-control" ngModel>  
                        
                    <label>Upload Image</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse… 
                                <input type="file" name="myfile" id="imgInp" ngModel  (change)="getFiles($event)">  
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <img id='img-upload'/>
                      <button type="submit" class="btn btn-primary start"> <i class="glyphicon glyphicon-folder-open"></i>
        <span>Start upload</span></button>  
      <button type="reset" class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
        </button>
        <div> Only 5 pics are allowed to upload.</div>

                </div>
                <app-imagegallery></app-imagegallery>
                
            </div>
            </div>
      
     
  </form>  
</div> 

<div class="container">
        <div class="row">

        </div>
    </div>